@media (max-width: 900px) {
  .logos {
    padding: 30px 0;
  }
}

.logos {
  overflow: hidden;
  padding: 45px 0;
  white-space: nowrap;
  position: relative;
  display: flex;
  background: var(--primary-color);


  h2 {
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0em;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    color: var(--secondary-color-4);
  }
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  content: "";
  z-index: 2;

}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  display: flex;

  animation: 100s slide infinite linear;
}

.logos-slide img {
  height: 70px;
  margin: 0 40px;
}

.logos-app{
  position: relative;
}
.logos:before,
.logos:after {
  
  width: 100px;
 

}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    /* Posición inicial y final, y puntos intermedios */
  }

  40% {
    transform: translateY(-5px);
    /* Punto más alto */
  }

  60% {
    transform: translateY(-5px);
    /* Punto más bajo */
  }
}


@keyframes slide {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}